.venv/
__pycache__/
*.py[cod]
*.log
*.zip
*.db
*.sqlite
.env
.env.*
*.pkl

# IDE
.idea/
*.iml

# pytest / cache
.pytest_cache/
htmlcov/
.coverage*

# Playwright/Allure/Reports (regenerated)
# Ignore all reports and logs
allure-results/
automation_framework/reports/
automation_framework/logs/
playwright-report/

# OS
.DS_Store
Thumbs.db
