.git
.github
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
node_modules
.idea
.vscode
.midgard_playpy
allure-report
allure-results
playwright-traces
automation_framework/screenshots
automation_framework/reports